h1 {
    text-align: center;
    margin: auto;
    font-weight: 800;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 50px;
}
.center-container { /*Holds both table and canvas*/
    width: 608px; /*Set width*/
    margin:0 auto; /* Centering */
    margin-top: 100px; /*100px down from top */
    
}

table {
    border-collapse: collapse; /*Collapse table borders into one */
    border-style: hidden; /*Hides outer borders*/
}

td {
    cursor: pointer; /*Cursor on hover over squares*/
    border: 4px solid rgba(186, 36, 206, 0.8); /*Table border style*/
    padding: 0px; /*Removes default padding*/
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute; /* Sets position to top-left*/
    z-index: 10; /*Puts canvas on top of table*/
    pointer-events: none; /*Hides canvas*/
}